[D-BUS Service]
Name=org.gtk.GDBus.Examples.ObjectManager
Exec=/Users/rahul/Desktop/ios_compilation/glib_sim/gio/tests/gdbus-example-objectmanager-server
